html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: Overpass, sans-serif;
  line-height: 1.5;
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1, h2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0;
  font-size: 2rem;
  padding: 1rem;
}

h1 {
  padding: 6vmin;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
  font-weight: normal;
}

h1, h2, h3 {
  color: #fff;
}

section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 6vmin;
}

article {
  padding: 0 1rem;
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  text-decoration: none;
}

.button {
  padding: 1rem;
  border: .2rem solid rgba(255, 255, 255, .7);
  font-size: 1.125rem;
}

a:hover,
a:focus {
  color: rgba(255, 255, 255, .7);
}

.icon {
  position: relative;
  height: 8rem;
  width: 8rem;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  fill: currentColor;
}

@media only screen and (min-width: 38em) {

  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: 0 1rem;
    margin: 1.5rem 0;
    gap: 6vmin;
  }

}
